apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "helm.fullname" . }}-config
  labels:
    {{- include "helm.labels" . | nindent 4 }}
data:
  run-dsp.toml: |
    humanReadable = {{ .Values.log.humanReadable }}
    level = {{ .Values.log.level | quote }}

    [server]
    prometheusEnabled = {{ .Values.metrics.enabled }}
    prometheusAddress = "0.0.0.0"
    prometheusPort = 8082

    [server.tracing]
    enabled = {{ .Values.tracing.enabled }}
    endPointUrl = {{ .Values.tracing.endPoint | quote }}
    grpc = {{ .Values.tracing.gRPC }}
    serviceName = {{ .Values.tracing.serviceName | quote }}

    [server.dsp]
    address = "0.0.0.0"
    port = 8080
    {{- if eq .Values.dataspace.url "ingress" }}
    externalURL = "http{{ if .Values.ingress.tlsSecret }}s{{ end }}://{{ .Values.ingress.host }}"
    {{- else }}
    externalURL = "http://{{ include "helm.fullname" . }}.{{ .Release.Namespace }}:8080"
    {{- end }}

    [server.provider]
    address = {{ include "helm.providerAddress" . | quote }}
    {{- include "run-dsp.tlsconf" (merge .Values.global.tls (dict "name" "provider")) | nindent 4}}

    [server.contractService]
    address = {{ include "helm.contractServiceAddress" . | quote }}
    {{- include "run-dsp.tlsconf" (merge .Values.global.tls (dict "name" "contractservice")) | nindent 4}}

    [server.authnService]
    address = {{ include "helm.authnServiceAddress" . | quote }}
    {{- include "run-dsp.tlsconf" (merge .Values.global.tls (dict "name" "authnservice")) | nindent 4}}

    [server.control]
    address = "0.0.0.0"
    port = 8081
    externalAddress = "{{ include "helm.fullname" . }}.{{ .Release.Namespace }}:8081"
    insecure = {{ .Values.global.tls.insecure }}
    {{- if not .Values.global.tls.insecure }}
    cert = "/certs/control/tls.crt"
    certKey = "/certs/control/tls.key"
    verifyClientCerts = {{ .Values.global.tls.verifyClientCerts }}
    {{- if .Values.global.tls.verifyClientCerts }}
    clientCACert = "/certs/ca/{{ .Values.global.tls.caCert.key }}"
    {{- end }}
    {{- end }}

    [server.persistence]
    backend = "badger"

    [server.persistence.badger]
    {{- if .Values.persistence.enabled }}
    memory = false
    dbPath = "/store/run-dsp.db"
    {{- else }}
    memory = true
    {{- end }}
