apiVersion: v1
kind: Service
metadata:
  name: {{ include "helm.fullname" . }}
  labels:
    {{- include "helm.labels" . | nindent 4 }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: 8080
      targetPort: dsp
      protocol: TCP
      name: dsp
    - port: 8081
      targetPort: control
      protocol: TCP
      name: control
    {{- if .Values.metrics.enabled }}
    - port: 8082
      targetPort: metrics
      protocol: TCP
      name: metrics
    {{- end }}
  selector:
    {{- include "helm.selectorLabels" . | nindent 4 }}
